* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
  display:flex;
  justify-content: center;
  align-items: center;
  background: darkcyan;
}

#container {
  height: 100vh;
  width: 1000px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 32px 0px #000000;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: darkcyan;
  padding-top: 15px;
}
